<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scy.mytemplate.mapper.AnnotationMapper">

    <resultMap id="BaseResultMap" type="com.scy.mytemplate.model.entity.Annotation">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="imageId" column="imageId" jdbcType="VARCHAR"/>
        <!-- 【核心修正】移除 jsonContent 的 jdbcType，让 typeHandler 自动处理 -->
        <result property="jsonContent" column="jsonContent" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="lastEditorId" column="lastEditorId" jdbcType="VARCHAR"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, imageId, jsonContent, lastEditorId, updateTime
    </sql>
</mapper>