<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scy.mytemplate.mapper.OrganizationMemberMapper">

    <resultMap id="BaseResultMap" type="com.scy.mytemplate.model.entity.OrganizationMember">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="organizationId" column="organizationId" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="VARCHAR"/>
        <result property="roleInOrg" column="roleInOrg" jdbcType="VARCHAR"/>
        <result property="joinTime" column="joinTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findUserRoleInOrg" resultType="java.lang.String">
        SELECT roleInOrg FROM OrganizationMembers WHERE userId = #{userId,jdbcType=VARCHAR} AND organizationId = #{organizationId,jdbcType=VARCHAR}
    </select>

    <!-- 【核心修正】resultType 从 Long 改为 String -->
    <select id="findUserOrganizationIds" resultType="java.lang.String">
        SELECT organizationId FROM OrganizationMembers WHERE userId = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="findUsersInOrganization" resultType="com.scy.mytemplate.model.entity.User">
        SELECT
            u.*
        FROM
            user u
                JOIN
            OrganizationMembers om ON u.id = om.userId
        WHERE
            om.organizationId = #{organizationId,jdbcType=VARCHAR}
          AND u.isDelete = 0
    </select>

</mapper>